<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/alt4dbu.css"/>
</head>
<body class="stack">
    {{>nav}}
    <div class="container stack">
        <h1>Welcome to the font demonstration!</h1>
         <P>The point of this little project is to go through and pick an alternative font to the currently used Europa.</P>
         <p>Europa is a good font, however it has a very restrictive license. Should we choose to cease having a subscription to the Adobe Creative Cloud, we will lose our ability to use Europa for our website.</p>
         <p>Each page will have a series of demo text and elements using Europa and one other font. Please go through each page and make a note of which font most looks like Europa, closely followed by which you prefer. The overall preferred font will likely go ahead as the brand font for our marketing and web related materials.</p>
         <p>Lastly, have fun! Fonts are a fascinating world unto themselves.</p>
         <p>This page is using Europa.</p>
    </div>
</body>
</html>