<body class="stack">
    {{>nav}}
    <main class="stack" style="padding: 1rem">
        <div class="container stack">
            <h1>The Preamble</h1>
            <p>As explained on the homepage, there will be a series of demo text and elements to put our fonts through the paces.</p>
            <p>We should see each font in a similar manner to what is on display on the Logical Developments site, barring some of the flourish.</p>
        </div>
        <div class="container split">
            <div class="europa stack">
                <div class="dark cluster">
                    <h2>Navigation!</h2>
                    <nav>
                        <ul class="cluster no-wrap">
                            <li><a href="#">A Page</a></li>
                            <li><a href="#" class="btn btn__nav">An important Page</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="stack">
                    <h2>Body text</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam nisi maiores molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo.
                    Nam quaerat corrupti dolore tempora nihil error voluptatum eum, dicta voluptates, provident nulla vitae dolorem, molestiae eius? Nulla praesentium placeat temporibus magni. Cupiditate incidunt maiores sunt, veritatis quo quibusdam mollitia.</p>
                    <p>Lorem ipsum dolor <a href="#">sit amet</a>, consectetur adipisicing elit. Natus officiis reprehenderit minima ipsa temporibus numquam consectetur sapiente quas quidem beatae excepturi, voluptatum dicta. Consequatur, aliquid voluptate explicabo ipsa distinctio aspernatur.</p>
                </div>
                <div class="stack">
                    <h3>Short text and a heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur!</p>
                </div>
                <div class="dark">
                    <div class="stack" style="padding: 1rem; border: 2px solid white">
                        <h2>A Call to action</h2>
                        <p class="accent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam <a href="#">nisi maiores</a> molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo!</p>
                    </div>
                </div>
                <div class="dark">
                    <div class="stack" style="padding: 1rem; border: 2px solid white">
                        <h2 class="accent">A Banner</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam <a href="#">nisi maiores</a> molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo!</p>
                    </div>
                </div>
                <div class="grey">
                    <div class="stack" style="padding: 1rem; border: 2px solid white">
                        <h2>A Grey Box</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam <a href="#">nisi maiores</a> molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo!</p>
                    </div>
                </div>
                <div class="stack">
                    <h2>BUTTONS!</h2>
                    <div class="stack">
                        <div class="dark">
                            <a href="#" class="btn">Some Text</a>
                        </div>
                        <div class="stack">
                            <a href="#" class="btn btn__light">Some Text</a>
                            <a href="#" class="btn btn__accent">Some Text</a>
                        </div>
                        <form action="" class="stack">
                            <h3>A form</h3>
                            <button class="btn__cancel">Cancel</button>
                        </form>
                    </div>
                </div>
                <div class="stack">
                    <h2>A Preview with a subtitle</h2>
                    <p class="subtitle">Lorem ipsum dolor sit amet consectetur!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, sint quo harum architecto et, doloremque ad rerum adipisci quas cum asperiores culpa iusto, error corporis facere facilis fugit. Consequuntur, blanditiis?</p>
                </div>
            </div>
            <div class="{{font}} stack">
                <div class="dark cluster">
                    <h2>Navigation!</h2>
                    <nav>
                        <ul class="cluster no-wrap">
                            <li><a href="#">A Page</a></li>
                            <li><a href="#" class="btn btn__nav">An important Page</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="stack">
                    <h2>Body text</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam nisi maiores molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo.
                    Nam quaerat corrupti dolore tempora nihil error voluptatum eum, dicta voluptates, provident nulla vitae dolorem, molestiae eius? Nulla praesentium placeat temporibus magni. Cupiditate incidunt maiores sunt, veritatis quo quibusdam mollitia.</p>
                    <p>Lorem ipsum dolor <a href="#">sit amet</a>, consectetur adipisicing elit. Natus officiis reprehenderit minima ipsa temporibus numquam consectetur sapiente quas quidem beatae excepturi, voluptatum dicta. Consequatur, aliquid voluptate explicabo ipsa distinctio aspernatur.</p>
                </div>
                <div class="stack">
                    <h3>Short text and a heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur!</p>
                </div>
                <div class="dark">
                    <div class="stack" style="padding: 1rem; border: 2px solid white">
                        <h2>A Call to action</h2>
                        <p class="accent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam <a href="#">nisi maiores</a> molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo!</p>
                    </div>
                </div>
                <div class="dark">
                    <div class="stack" style="padding: 1rem; border: 2px solid white">
                        <h2 class="accent">A Banner</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam <a href="#">nisi maiores</a> molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo!</p>
                    </div>
                </div>
                <div class="grey">
                    <div class="stack" style="padding: 1rem; border: 2px solid white">
                        <h2>A Grey Box</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint? Itaque vero illo nobis iusto necessitatibus harum totam <a href="#">nisi maiores</a> molestias consequatur eveniet, reiciendis blanditiis animi iure ratione corporis explicabo!</p>
                    </div>
                </div>
                <div class="stack">
                    <h2>BUTTONS!</h2>
                    <div class="stack">
                        <div class="dark">
                            <a href="#" class="btn">Some Text</a>
                        </div>
                        <div class="stack">
                            <a href="#" class="btn btn__light">Some Text</a>
                            <a href="#" class="btn btn__accent">Some Text</a>
                        </div>
                        <form action="" class="stack">
                            <h3>A form</h3>
                            <button class="btn__cancel">Cancel</button>
                        </form>
                    </div>
                </div>
                <div class="stack">
                    <h2>A Preview with a subtitle</h2>
                    <p class="subtitle">Lorem ipsum dolor sit amet consectetur!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, sint quo harum architecto et, doloremque ad rerum adipisci quas cum asperiores culpa iusto, error corporis facere facilis fugit. Consequuntur, blanditiis?</p>
                </div>
            </div>
        </div>
    </main>
</body>