<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/alt4dbu.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Lato:wght@300;400;700;900&family=Nunito:wght@300;400;700;900&display=swap" rel="stylesheet"> 
    <style>
        @font-face {
            font-family: "Avenir Next";
            src: url(/fonts/avenir-next/AvenirNextLTPro-Regular.otf) format("opentype");
        }
        
        @font-face {
            font-family: "Sailec";
            src: url(/fonts/Sailec-Font/Sailec-Medium/Sailec-Medium.ttf) format("truetype");
        }

        @font-face {
            font-family: "Cast";
            src: url(/fonts/Demo-Cast/Demo_Fonts/Fontspring-DEMO-cast-regular.otf);
        }

        @font-face {
            font-family: "Monolith Sans";
            src: url(/fonts/Monolith-Sans-Serif-Font/MonolithFreebie-LightItalic.otf);
        }

        @font-face {
            font-family: 'Treyton Regular';
            font-style: normal;
            font-weight: normal;
            src:url(/fonts/treyton-cufonfonts-webfont/Treyton-Regular.woff) format('woff');
        }

        @font-face {
            font-family: "Groteska Regular";
            src: url(/fonts/FontsFree-Net-Groteska-Regular.ttf) format('truetype');
        }
        
        @font-face {
            font-family: "Einer Groteska";
            src: url(/fonts/einer-grotesk-modern-sans-serif-typeface/Web-Fonts/EinerGrotesk-Regular.woff) format('woff');
        }

        @font-face {
            font-family: "Gilroy Light";
            src: url(/fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
        }

        @font-face {
            font-family: "Alibori Sans";
            src: url(/fonts/);
        }

        .{{class}} {
            font-family: "{{font}}";
        }
    </style>
</head>
