<nav class="dark">
    <ul class="cluster no-wrap" style="justify-content: center; ">
        <li><a href="/">Home</a></li>
        <li><a href="/inter">Inter</a></li>
        <li><a href="/nunito">Nunito</a></li>
        <li><a href="/lato">Lato</a></li>
        <li><a href="/avenirnext">Avenir Next</a></li>
        <li><a href="/sailec">Sailec</a></li>
        <li><a href="/cast">Cast</a></li>
        <li><a href="/monolith">Monolith</a></li>
        <li><a href="/treyton">Treyton Regular</a></li>
        <li><a href="/groteska">Groteska</a></li>
        <li><a href="/einergroteska">Einer Groteska</a></li>
        <li><a href="/gilroy">Gilroy Light</a></li>
        <li><a href="/albori">Albori Sans</a></li>
        <li><a href="/celesta">Celesta</a></li>
    </ul>
</nav>